{% extends 'header' %}
	{% block content %}
       <!--////////////// log in & out  //////////////-->
     <div class="container" style='height: 400px'>
  
        <h1 class="text-center alert alert-danger">Error 404</h1>
		 
		 
      </div><!-- tab-content -->



 <!--////////////// footer//////////////-->
      <div class="contain most footer row">
         <div class="container">
            <div class="text-center">
               <div class="col-sm-6 col-md-6 lead">
                  <h6>لنكن على تواصل</h6>
                  <img src="images/facebook.svg" height="50px" width="50px">
                  <img src="images/linkedin.svg" height="50px" width="50px">
                  <img src="images/twitter.svg" height="50px" width="50px">
                  <img src="images/google-plus.svg" height="50px" width="50px">
               </div>
               <div class="col-sm-6 col-md-6 text-t"> <span>الرئيسيه - من نحن - السياسه والخصوصيه - عنوان الشركه</span>
                  <br> <span>جميع الحقوق محفوظه للشركه 2017</span>
                  <br> <span>إنضم كشريك - إنضم كمحاضر </span>
               </div>
            </div>
         </div>
      </div>
      <div>
         <!--MY jquery FILE-->
         <script src="js/jquery-3.2.0.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
         <!--Bootstrap-->
         <script src="js/bootstrap.min.js"></script>
         <!--MY PLUGINS FILES-->
         <script src="js/script.js"></script>
         <script src="js/owl.carousel.min.js"></script>
      </div>
   </body>
</html>
{% endblock %}