{% extends 'header' %}
	{% block style %}
	<meta charset="UTF-8">
	<title>THE BASICS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--BOOTSTRAP-->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<!--FONT AWESOME-->
	<link rel="stylesheet" href="../css/font-awesome.min.css">
	<!--slider-->
	<link rel="stylesheet" href="../css/owl.carousel.min.css">
	<link rel="stylesheet" href="../css/owl.theme.default.min.css">
	<!--HTML5 SHIV if lt IE 9-->
	<script src="../js/html5shiv.min.js"></script>
	<!--fonts-->
	<link href="https://fonts.googleapis.com/css?family=Cairo:700" rel="stylesheet">
	<link src="Fonts/NotoKufiArabic-Regular.ttf" rel="stylesheet">
	<!--MY CSS FILE-->
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/hover-min.css">
	{% endblock%}
	{% block content %}
 
      <!--////////////// create//////////////-->
      <div class="container">
         
          <div class="create">
             <h4> إنشئ تدوينه جديده :</h4>
             <br>
             {{ form.open({params: {id: post.id}, action: 'PostController.update', files: true}) }}
                {{ csrfField }}
				{% if avatarError %}
				<div class="alert alert-danger">{{avatarError}}</div>
				{% endif %}
                {% if old('errors') %}
                  <div class="alert alert-danger">
                    {% for error in old('errors') %}
                      <li> {{ error.message }} </li>
                    {% endfor %}
                  </div>
                {% endif %}
                 <h5> العنوان</h5>
                 <input type="text" required name="title" value="{{post.title}}">
                 <br>
                 <br>
                 <h5> الموضوع</h5>
                 <textarea  required name="content"> {{post.content}}</textarea>
                 <br>
                 <h5> صورة</h5>
                 {{ form.file('avatar') }}
                 <br>
                 <h5>الفئة</h5>
                 {{ form.select('category', ['linux', 'android', 'programming', 'design', 'artical']) }}
                 <button class="btn btn-primary" type="submit">أنشئ</button>
             {{ form.close() }}
          </div>
      </div>
     
    
   
   <!--////////////// footer//////////////-->
      <div class="contain most footer row">
         <div class="container">
            <div class="text-center">
               <div class="col-sm-6 col-md-6 lead">
                  <h6>لنكن على تواصل</h6>
                  <img src="../images/facebook.svg" height="50px" width="50px">
                  <img src="../images/linkedin.svg" height="50px" width="50px">
                  <img src="../images/twitter.svg" height="50px" width="50px">
                  <img src="../images/google-plus.svg" height="50px" width="50px">
               </div>
               <div class="col-sm-6 col-md-6 text-t"> <span>الرئيسيه - من نحن - السياسه والخصوصيه - عنوان الشركه</span>
                  <br> <span>جميع الحقوق محفوظه للشركه 2017</span>
                  <br> <span>إنضم كشريك - إنضم كمحاضر </span>
               </div>
            </div>
         </div>
      </div>
      <div>
         <!--MY jquery FILE-->
         <script src="../js/jquery-3.2.0.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
         <!--Bootstrap-->
         <script src="../js/bootstrap.min.js"></script>
         <!--MY PLUGINS FILES-->
         <script src="../js/script.js"></script>
         <script src="../js/owl.carousel.min.js"></script>
      </div>
   </body>
</html>
{% endblock %}